@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Momo+Signature&display=swap');

body{
    justify-content: center;
    display: flex ;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: linear-gradient(135deg, #ff007b, #fff7fb);
}

h1{
    color: white;
    font-family:'Momo Signature', cursive;
    text-shadow: 0px 0px 20px white;
    font-weight: 100;
}


section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

section img {
    width: 300px;      
    height: 300px;     
    object-fit: cover; 
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 0px 20px white;
    padding: 30px;
}

p{
    color: white;
    font-family:'Momo Signature', cursive; 
    font-style: italic;
}

img{
    border-radius: 30px;
}