@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Momo+Signature&display=swap');

body{
    flex-direction: column;
    display: flex;
    align-items: center;
    color: white;
    background: linear-gradient(135deg, #ff007b, #fff7fb);

}


.slideshow-container {
  position: relative;
  width: 80%;
  max-width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.642);
  margin-top: 30px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
}

.container{
    flex-direction: column;
    width: 50%;
}

.container p{
    margin-top: 70px;
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    font-style: italic;
}

h1{
    font-family: 'Momo Signature' ;
     text-shadow: 2px 2px 5px rgba(239, 175, 175, 0.376);
     justify-content: left;
     display: flex;
     text-shadow: 0px 2px 5px white;
     font-size: 50px;
     font-style: italic;
     font-weight: 100;
}

