body{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    background: linear-gradient(135deg, #ff007b, #fff7fb);
}

h1{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 20px white;
    font-size: 50px;
    font-family: 'Momo Signature', cursive;;
    font-weight: 100;
}


.imagem img{
 position: relative;
  max-width: 600px;
  height: 600px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 60px rgb(255, 255, 255);
  margin-top: 30px;
}

.hero h2{
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Momo Signature', cursive;
    text-shadow: 0px 0px 20px white;
    margin-top: 70px;
}

.hero p{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family:'Lobster Two', cursive;
    font-style: italic;

}